@model HR_menager.Models.Odjel

@{
    ViewData["Title"] = "Kreiraj odjel";
}
<form asp-action="Edit" method="post">
    @if (!ViewContext.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewContext.ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <!-- Form Fields here -->
    <div class="form-group">
        <label asp-for="Naziv" class="control-label"></label>
        <input asp-for="Naziv" class="form-control" />
        <span asp-validation-for="Naziv" class="text-danger"></span>
    </div>

  

    <button type="submit" class="btn btn-primary">Spremi</button>
    <a asp-action="Index" class="btn btn-secondary">Odustani</a>
</form>
